In [1]:
import numpy as np  #Linear algebra
import pandas as pd #Data processing, csv file I/O
import warnings
warnings.filterwarnings("ignore")
df = pd.read_csv("Iris.csv")

In [2]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [3]:
df.shape

(150, 6)

In [4]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [5]:
df.Species.value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [6]:
df.sum()

Id                                                           11325
SepalLengthCm                                                876.5
SepalWidthCm                                                 458.1
PetalLengthCm                                                563.8
PetalWidthCm                                                 179.8
Species          Iris-setosaIris-setosaIris-setosaIris-setosaIr...
dtype: object

In [7]:
x=df.filter(["SepalLenghthCm","SepalWidthCm","PetalLengthCm","PetalWidthCm"])
x

     SepalWidthCm  PetalLengthCm  PetalWidthCm
0             3.5            1.4           0.2
1             3.0            1.4           0.2
2             3.2            1.3           0.2
3             3.1            1.5           0.2
4             3.6            1.4           0.2
..            ...            ...           ...
145           3.0            5.2           2.3
146           2.5            5.0           1.9
147           3.0            5.2           2.0
148           3.4            5.4           2.3
149           3.0            5.1           1.8

[150 rows x 3 columns]

In [8]:
y=df.filter(["Species"])
y

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30)

In [11]:
x_train.shape

(105, 3)

In [12]:
x_test.shape

(45, 3)

In [13]:
#Training Dataset using KNN Algorithm
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors = 4)
knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=4)

In [14]:
from sklearn.metrics import classification_report
y_pred=knn.predict(x_test)
print(classification_report(y_test,y_pred))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        16
Iris-versicolor       1.00      0.89      0.94        18
 Iris-virginica       0.85      1.00      0.92        11

       accuracy                           0.96        45
      macro avg       0.95      0.96      0.95        45
   weighted avg       0.96      0.96      0.96        45